@import "../views/artist/artist";
@import "../views/approvals/approvals";
@import "../views/listener/listener";
@import "../views/track/track";
@import "../views/content/content";
@import "../views/playlists/playlists";
@import "../views/profile/profile";
@import "../views/export/export";
@import "../views/channel/channel";
@import "../views/billing/billing";
@import "../views/settings/settings";
@import "../views/logout/logout";
@import "../views/login/login";
@import "../directives/sidenav/sidenav";
@import "../views/dashboard/dashboard";

body {
  font-size: 16px;
  letter-spacing: 0.5px;
}

.row {
  margin: 0 !important;
}

html {
  height: 100%;
}

.viewport {
  height: 100%;
}

@import url("http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css");

// Utility Classes
.stretch {
  width: 100%;
}

.lightgray {
  background: #fafafa;
}
// Utility Classes end


h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-size: 52px;
  margin: 0;
  padding: 0;
  font-weight: 100;
  color: #eee;
}


h2 {
  font-weight: 600;
}

h3 {
  font-weight: 600;
  letter-spacing: 1px;
}

header > div > nav > ul > li > a {
  font-size: 12px;
}

/* COLORS */
body {
  background: #f5f5f5;
  color: #1a1a1a;
  height: 100%;
}

a,
a:focus,
a:visited {
  color: #a9a9a9;
}

a:hover,
a:active {
  color: #555;
}

code {
  background: #fff;
  color: #a9a9a9;
  border-radius: 0;
}

.charcoal-bg {
  background: #262626;
  color: #fff;
}

.smokey-bg {
  background: #555555;
  color: #fff;
}

.darkgrey {
  background: #f5f5f5;
  color: #a9a9a9;
}

.bloody-red {
  background: #e41034;
  color: #ffffff;
}

.bloody-red a,
.bloody-red a:focus,
.bloody-red a:visited {
  color: #FFFFFF;
}

.bloody-red a:hover,
.bloody-red a:active {
  color: #FFFFFF;
}


/* STRUCTURE */
header {
  text-align: center;
}

.container-fluid {
  margin: 30px auto;
}

p {
  max-width: 700px;
}

.box {
  max-width: 95%;
  height: 120px;
  min-height: 1px;
  padding: 15px 5px 5px;
  text-align: center;
  margin: 0 auto;
}

/* LIST */
ul {
  list-style: none;
  padding: 5px;
}

li {
  display: inline;
}

/* BUTTONS */
.btn {
  background: #a9a9a9;
  color: #1a1a1a;
  padding: 20px;
  border-radius: 0;
}

.btn:hover {
  background: #555555;
  color: #fff;
}

.btn-rect {
  text-transform: uppercase;
  margin-right: 10px;
  /* box shadow */
  -webkit-box-shadow: 6px 6px 0 0 #000; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 6px 6px 0 0 #000; /* Firefox 3.5 - 3.6 */
  box-shadow: 4px 4px 0 0 #000; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

/* FORMS */

.field-wrapper {
  display: block;
  position: relative;
  margin-bottom: 0.25em;
}

label {
  display: block;
}

select, textarea, input[type="text"], input[type="password"], input[type="file"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, .faux-file {
  display: inline-block;
  padding: 0 .4em 0 .4em;
  padding: .5em;
  vertical-align: middle;
  min-width: 50px;
  max-width: 550px;
}

textarea, input[type="text"], input[type="password"], input[type="file"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, .faux-file {
  width: 100%;
  min-height: 36px;
  border: 3px solid #000;
  margin: 0 0 1em 0;
}

textarea:hover,
input[type="text"]:hover,
input[type="email"]:hover,
input[type="submit"]:hover,
textarea:focus,
input[type="text"]:focus,
input[type="email"]:focus {
  background: transparent;
  border: 3px solid #a9a9a9;
}

textarea:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="submit"] {
  outline: none;
}

/* Radio + Checkbox */
input[type=radio] + label,
input[type=checkbox] + label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  font-size: 13px;
}

input[type=radio],
input[type=checkbox] {
  display: none;
}

input[type=radio] + label:before,
input[type=checkbox] + label:before {
  content: "";
  display: inline-block;

  width: 20px;
  height: 20px;

  margin-right: 10px;
  position: absolute;
  left: 0;

  bottombottom: 1px;
  border: 3px solid;
}

input[type=radio]:checked + label:before,
input[type=checkbox]:checked + label:before {
  background: #262626;
  color: #555;
  font-size: 12px;
  text-align: center;
  line-height: 14px;
}

input[type=radio] + label:before {
  border-radius: 50%;
}

input[type=submit] {
  color: black;
  background: #fff;
  border: 3px solid;
  padding: 7px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

input[type=submit]:hover {
  color: black;
}


.sp-container {
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  padding-left: 240px;
  box-sizing: border-box;

  background: white;
  color: black;
}
.sp-toggle-sidebar .sp-container {
  padding-left: 0;
}

.side-page-container {
  height: 100%;
  background: white;
}

