@import "../views/artist/artist";
@import "../views/approvals/approvals";
@import "../views/listener/listener";
@import "../views/track/track";
@import "../views/content/content";
@import "../views/playlists/playlists";
@import "../views/profile/profile";
@import "../views/export/export";
@import "../views/channel/channel";
@import "../views/billing/billing";
@import "../views/settings/settings";
@import "../views/logout/logout";
@import "../views/login/login";
@import "../directives/sidenav/sidenav";
@import "../views/dashboard/dashboard";

/* Global
   ========================================================================== */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

html,
body {
  height: 100%
}

body {
  overflow-x: hidden;
  margin:0;
}

* {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s
}
/* Global END
   ========================================================================== */