<li class="sidenav-item" ng-class="{ 'active': active }">
  <div class="row menu-item-container">
    <a ng-class="{ 'active': route === object.path }">
      {{ object.fullName }}
    </a>
    <span ng-if="active && object.dropdown.active"
          class="menu-icon glyphicon glyphicon-chevron-up" aria-hidden="true">
    </span>
    <span ng-if="active && object.dropdown && !object.dropdown.active"
          class="menu-icon glyphicon glyphicon-chevron-down" aria-hidden="true">
    </span>
  </div>

  <ul class="{{object.name}} dropdown">
    <li class="submenu-item" ng-repeat="item in object.dropdown">
      <div class="row submenu-item-container" ng-click="submenu(item)">
        <a class="submenu-item" ng-class="{ 'active': route === item.path }"> {{item.fullName}} </a>
      </div>
    </li>
  </ul>
</li>
