/**
* Followers Age Breakdown style
==============================================
@author ry
@date 1/12/2015
*/
#followers-gender {
  height: 45px;

  .gender-label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    text-transform: uppercase;

    .gender-percent {
      color: #bdbdbd;
    }
  }

  /*
  * "Males" text container
  ---------------------------------------------------------------------------------
  */
  #males-container {
    height: 13px;
    float: left;
    min-width: 20%;
    max-width: 80%;
  }

  /*
  * "Females" text container
  ---------------------------------------------------------------------------------
  */
  #females-container {
    height: 13px;
    float: right;
    min-width: 20%;
    max-width: 80%;
  }

  /*
  * Gender line breakdown
  ---------------------------------------------------------------------------------
  */
  #gender-line-container {
    height: 8px;
    width: 100%;
    position: relative;
    top: 10px;

    #male-line {
      background: #e41034;
      height: 9px;
      float: left;
    }

    #female-line {
      background: #3c3c3c;
      height: 9px;
      float: right;
      min-width: 10%;
    }
  }
}