<header class="charcoal-bg">
  <div class="container-fluid inner">
    <h1>Angular Seed</h1>

    <h3>Home Page</h3>
    <nav role='navigation' class="text-white">
      <ul>
        <li><a ng-href="/profile">Profile</a></li>
        <li><a ng-href="/logout">Logout</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="container-fluid inner" id="color">
  <p class="darkgrey">color palette</p>

  <div class="box col-sm-3 charcoal-bg">
    <p>Charcoal</p>

    <p>background: #262626</p>

    <p>[ for backgrounds ]</p>
  </div>
  <div class="box col-sm-3 smokey-bg">
    <p>Smokey</p>

    <p>background: #555555</p>

    <p>[ for contrast + hovers ]</p>
  </div>
  <div class="box col-sm-3 darkgrey">
    <p>Dark Grey Links</p>

    <p>color: #a9a9a9</p>

    <p>[ for <a href="/">links</a> + buttons ]</p>
  </div>
  <div class="box col-sm-3">
    <p>Black Text over WhiteSmoke </p>

    <p>color: #1a1a1a</p>

    <p>[ For text, p ]</p>
  </div>
</div>

<div class="container-fluid inner" id="typography">
  <p class="darkgrey">general typography</p>

  <h3>Arial at 600 for headings</h3>

  <p>Arial at normal for body text</p>
  <br/>

  <p>Primary font: 'Arial', sans-serif;</p>

  <p><em>Italics: 'Arial', sans-serif;</em></p>

  <p><strong>Bold: 'Arial', sans-serif;</strong></p>

  <p><u>Underline: 'Arial', sans-serif;</u></p>
  <br/>
</div>

<div class="container-fluid inner" id="headings">
  <p class="darkgrey">headings</p>

  <h1>headings 1</h1>

  <h2>headings 2</h2>

  <h3>headings 3</h3>
  <h4>headings 4</h4>
  <h5>headings 5</h5>
  <h6>headings 6</h6>
</div>

<div class="container-fluid inner" id="paragraphs">
  <p class="darkgrey">paragraphs</p>

  <p class="lead">This is a lead paragraph.</p>

  <p>This is an <b>ordinary paragraph</b> that is <i>long enough</i> to wrap to <u>multiple lines</u> so that you can
    see how the line spacing looks.</p>

  <p>A paragraph (from the Greek paragraphos, "to write beside" or "written beside") is a self-contained unit of a
    discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though
    not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to
    organize longer prose.</p>

  <p>
    <small>This is text in a small wrapper.</small>
  </p>
  <p class="text-muted">Muted color paragraph.</p>
</div>

<div class="container-fluid inner">
  <p class="darkgrey">inline elements</p>

  <p><a href="#">This is a text link</a></p>

  <p><strong>Strong is used to indicate strong importance</strong></p>

  <p><em>This text has added emphasis</em></p>

  <p>The <b>b element</b> is stylistically different text from normal text, without any special importance</p>

  <p>The <i>i element</i> is text that is set off from the normal text</p>

  <p>The <u>u element</u> is text with an unarticulated, though explicitly rendered, non-textual annotation</p>

  <p>
    <del>This text is deleted</del>
    and
    <ins>This text is inserted</ins>
  </p>

  <p><s>This text has a strikethrough</s></p>

  <p>Superscript<sup>®</sup></p>

  <p>Subscript for things like H<sub>2</sub>O</p>

  <p>
    <small>This small text is small for for fine print, etc.</small>
  </p>

  <p>Abbreviation: <abbr title="HyperText Markup Language">HTML</abbr></p>

  <p>Keyboard input: <kbd>Cmd</kbd></p>

  <p><q cite="https://developer.mozilla.org/en-US/docs/HTML/Element/q">This text is a short inline quotation</q></p>

  <p><cite>This is a citation</cite>

  </p>

  <p>The <dfn>dfn element</dfn> indicates a definition.</p>

  <p>The
    <mark>mark element</mark>
    indicates a highlight
  </p>

  <p><code>This is what inline code looks like.</code></p>

  <p><samp>This is sample output from a computer program</samp></p>

  <p>The <var>variable element</var>, such as <var>x</var> = <var>y</var></p>
</div>

<div class="container-fluid inner" id="buttons">
  <p class="darkgrey">Square</p>
  <span class="glyphicon glyphicon-search btn"></span>
  <span class="glyphicon glyphicon-plus btn"></span>
  <span class="glyphicon glyphicon-heart btn"></span>
  <span class="glyphicon glyphicon-share btn"></span>

  <br/><br/>

  <p class="darkgrey">Rectangular</p>

  <div class="btn btn-lg btn-rect">large button</div>
  <div class="btn btn-md btn-rect">medium button</div>
</div>

<div class="container-fluid inner" id="forms">
  <p class="darkgrey">Forms</p>

  <div class="container inner" id="radio">
    <form class="topLabel">
    <span class="field-wrapper">
    <input id="Field1_0" name="Field1" type="radio" class="field radio" value="Fantasty" checked="checked"/>
    <label class="choice" for="Field1_0">
      Radio Option 1
    </label>
    </span>
    <span class="field-wrapper">
    <input id="Field1_1" name="Field1" type="radio" class="field radio" value="Sci-Fi"/>
    <label class="choice" for="Field1_1">
      Radio Option 2
    </label>
    </span>
    <span class="field-wrapper">
    <input id="Field1_2" name="Field1" type="radio" class="field radio" value="Don&#039;t make me choose!"/>
    <label class="choice" for="Field1_2">
      Radio Option 3
    </label>
    </span>
  </div>

  <div class="container inner" id="checkbox">
    <span class="field-wrapper">
    <input type="checkbox" checked="checked" value="" id="checkbox1"/>           <label class="checkbox"
                                                                                        for="checkbox1">
      Checkbox Option 1
    </label>
    </span>
    <span class="field-wrapper">

    <input type="checkbox" value="" id="checkbox2"/>
    <label class="checkbox" for="checkbox2">
      Checkbox Option 2
    </label>
    </span>
    <span class="field-wrapper">

    <input type="checkbox" value="" id="checkbox3"/>
    <label class="checkbox" for="checkbox3">
      Checkbox Option 3
    </label>
    </span>
    </form>
  </div>

  <div class="container inner" id="forms">
    <form action="" method="post" class="wpcf7-form" novalidate="novalidate">
      <div class="field-wrapper">
        <label for="yourname" class="float-label">Name</label>
        <span class="your-name"><input type="text" name="your-name" value="" size="40" class="" id="yourname"
                                       aria-required="true" aria-invalid="false" placeholder="Name"></span>
      </div>
      <div class="field-wrapper">
        <label for="youremail" class="float-label">Email</label>
        <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40"
                                                                id="youremail" aria-required="true" aria-invalid="false"
                                                                placeholder="Email"></span></div>
      <div class="field-wrapper">
        <label for="yourmessage" class="float-label">Message</label>
        <span class="your-message"><textarea name="your-message" cols="40" rows="10" id="yourmessage"
                                             aria-invalid="false" placeholder="Message"></textarea></span>
      </div>
      <div class="field-wrapper">
        <input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit">
      </div>
    </form>
  </div>


</div>


</div>


<div class="container-fluid inner" id="backgrounds">

  <p class="darkgrey">backgrounds</p>

  <div class="container inner charcoal-bg">
    <h1>Charcoal-bg: This is a heading</h1>

    <p class="lead">This is a lead paragraph.</p>

    <p>This is an <b>ordinary paragraph</b> that is <i>long enough</i> to wrap to <u>multiple lines</u> so that you can
      see how the line spacing looks.</p>

    <p>A paragraph (from the Greek paragraphos, "to write beside" or "written beside") is a self-contained unit of a
      discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences.
      Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used
      to organize longer prose.</p>

    <p>
      <small>This is text in a small wrapper.</small>
    </p>
    <p class="text-muted">Muted color paragraph.</p>
  </div>
  <div class="inner"></div>
  <div class="container inner smokey-bg">
    <h1>Smokey-bg: This is a heading</h1>

    <p class="lead">This is a lead paragraph.</p>

    <p>This is an <b>ordinary paragraph</b> that is <i>long enough</i> to wrap to <u>multiple lines</u> so that you can
      see how the line spacing looks.</p>

    <p>A paragraph (from the Greek paragraphos, "to write beside" or "written beside") is a self-contained unit of a
      discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences.
      Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used
      to organize longer prose.</p>

    <p>
      <small>This is text in a small wrapper.</small>
    </p>
    <p class="text-muted">Muted color paragraph.</p>
  </div>

  <div class="inner"></div>
  <div class="container inner">
    <h1>This is a heading</h1>

    <p class="lead">This is a lead paragraph.</p>

    <p>This is an <b>ordinary paragraph</b> that is <i>long enough</i> to wrap to <u>multiple lines</u> so that you can
      see how the line spacing looks.</p>

    <p>A paragraph (from the Greek paragraphos, "to write beside" or "written beside") is a self-contained unit of a
      discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences.
      Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used
      to organize longer prose.</p>

    <p>
      <small>This is text in a small wrapper.</small>
    </p>
    <p class="text-muted">Muted color paragraph.</p>
  </div>
</div>
