/**
*  Pie Chart Stylesheet
==============================================
@author ry
@date 8/12/2015
*/

// Mixin that creates an absolute centered circle
@mixin circle($size) {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - #{$size/2});
  top: calc(50% - #{$size/2});
  width: $size;
  height: $size;
}

$size: 200px;
.pie-chart-container {
  width: $size;
  height: $size;
  border-radius: 50%;
  background-color: $black;
  position: relative;

  &.over-50 {
    background-color: $red;
  }
}

/*
* Pie Chart
---------------------------------------------------------------------------------
*/
.pie-chart {
  @include circle($size);
  clip: rect(0, $size, $size, #{$size/2});
  .pie-chart-fill {
    @include circle($size);
    clip: rect(0, #{$size/2}, $size, 0);
    background: $red;
    transform: rotate(60deg);
  }
  .over-50 & {
    clip: rect(0, #{$size/2}, $size, 0);
    .pie-chart-fill {
      clip: rect(0, $size, $size, #{$size/2});
      background: $black;
    }
  }
}

/*
* Pie Chart Legend
---------------------------------------------------------------------------------
*/
.legend {
  @include circle(#{$size/1.15});
  background: #fff;
  text-align: center;
  display: table;
}

.legend-wrapper {
  display: table-cell;
  vertical-align: middle;

  /*
  * Legend Labels
  ---------------------------------------------------------------------------------
  */
  %label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    text-align: left;
    padding-left: 30%;

    .percent {
      color: $darkgray;
    }

    &:after {
      @include circle(15px);
      left: 30px;
    }
  }

  .female-label {
    @extend %label;

    &:after {
      background: $black;
      top: 39%;
    }
  }

  .male-label {
    @extend %label;

    &:after {
      background: $red;
      top: 54%;
    }
  }
}
