#sidenav-header {
  border: 1px solid #e41034;
  background: #e41034;
  color: white;
  text-align: center;
  float: left;

  #menu-icon {
    text-align: center;
    width: 60px;
    float: left;
    margin-top: 20px;
    z-index: 100;
    cursor: pointer;
  }

  #content-title {
    margin-top: 17px;
    text-align: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: calc(100% - 60px);
    display: block;
    float: left;
    padding-left: 30%;
    text-transform: capitalize;
    position: relative;
  }
}

#sidenav {
  float: left;
  background: #f5f5f5;
  min-height: 100%;

  #user-area {
    #profile-picture {
      img {
        width: 60px;
        height: 60px;
      }
    }

    #name {
      display: none;
    }

    #sub-name {
      display: none;
    }
  }

  hr.separator {
    margin-top: 0;
    margin-bottom: 0;
    border-color: #c8c8c8;
  }

  #menu {
    .section {
      .section-name {
        display: none;
      }

      .menu-item {
        width: 60px;
        height: 60px;
        text-align: center;

        .menu-item-name {
          display: none;
        }

        .menu-item-icon {
          position: relative;
          top: 22px;

          path {
            fill: black;
          }
        }
      }

      .menu-item.active {
        background: #e41034;

        .menu-item-icon {
          path {
            fill: white;
          }
        }
      }
    }
  }
}

@media (min-width: 599px) and (max-width: 959px) {
  #sidenav {
    #user-area {
      #profile-picture {
        text-align: center;

        margin-top: 40px;
        margin-bottom: 40px;

        img {
          height: 40px;
          width: 40px;
          border-radius: 50%;
        }
      }
    }

    #menu {
      .menu-item:hover {
        .active-line {
          height: 60px;
          position: fixed;
          float: left;
          width: 5px;
          background: #e41034;
        }
      }
    }
  }
}

@media (min-width: 960px) {
  #sidenav {
    width: 200px;

    #user-area {
      padding: 40px 0;

      // Account name
      #name {
        color: #3c3c3c;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        letter-spacing: 0.2px;
        text-transform: capitalize;
        display: block;
        width: 100%;
        height: 23px;
        margin-top: 10px;
      }

      // Account role
      #sub-name {
        color: #3c3c3c;
        text-align: center;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 200;
        font-size: 12px;
        display: block;
        width: 100%;
      }

      #profile-picture {
        text-align: center;

        img {
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;

          width: 66px;
          height: 66px;
        }
      }
    }

    hr.separator {
      margin-left: 20px;
    }

    .menu.active + hr.separator {
      display: none;
    }

    #menu {
      .section {
        .section-name {
          display: block;
          margin-left: 20px;
          margin-top: 10px;
          margin-bottom: 10px;
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 10px;
          text-transform: uppercase;
          color: #8c8c8c;
        }
      }

      .menu-item {
        width: 200px !important;

        .menu-item-icon {
          width: 60px;
        }

        .menu-item-name {
          display: block !important;
          float: left;
          margin-left: 60px;
          position: relative;
          top: -1px;
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-weight: 200;
          font-size: 14px;
        }

      }

      .menu-item.active {
        background: #ffffff !important;

        .active-line {
          height: 60px;
          position: absolute;
          float: left;
          width: 5px;
          background: #e41034;
        }

        .menu-item-icon {
          path {
            fill: #e41034 !important;
          }
        }

        .menu-item-name {
          color: #e41034;
          font-weight: bold;
        }
      }

      .menu-item:hover {
        cursor: pointer;

        .active-line {
          height: 60px;
          position: absolute;
          float: left;
          width: 5px;
          background: #e41034;
        }
      }
    }
  }
}

@media (max-height: 700px) and (min-width: 960px) {
  #sidenav {
    #user-area {
      padding: 20px 0 !important;
    }
  }
}

@media (max-height: 650px) and (min-width: 960px) {
  #sidenav {
    #user-area {
      #profile-picture {
        width: 40px;
        float: left;
        position: relative;
        left: 25px;
        top: 10px;

        img {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}

@media (max-height: 580px) and (min-width: 960px) {
  #sidenav {
    padding-top: 10px;

    #user-area {
      display: none;
    }
  }
}