<div id="sidenav" class="sp-container">
  <div class='sp-sidebar bloody-red'>
    <div class='nav'>
      <div id="user-area" class="text-center">
        <div id="user-img">
          <img src="http://placekitten.com/g/50/50">
        </div>

        <h4> {{user.role | capitalize:'first' }} </h4>
        <h5> Kitten </h5>

        <span class="mini-link"><a ng-href='/logout'>logout</a></span>
        <span class="mini-link"><a ng-click="hide()">hide</a></span>
      </div>

      <ul>
        <sidenav-item ng-repeat="item in menu" object="item" route="currentRoute"></sidenav-item>
      </ul>
    </div>
  </div>
</div>
