#sidenav-toggle {
  display: none;
  cursor: pointer;

  path {
    cursor: pointer;
  }
}

#sidenav {
  z-index: 10;
  position: fixed;
  height: 100%;
  left: 200px;
  margin-left: -200px;
  width: 200px;

  background-color: #ffffff;
  border-right: 1px solid #c8c8c8;

  overflow: hidden;
  overflow-y: auto;

  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;

  // Display account information
  #user-area {
    padding-bottom: 50px;

    // Users profile pic
    #profile-picture {
      text-align: center;

      margin-top: 50px;

      img {
        border-radius: 50%;
        width: 66px;
        height: 66px;
      }
    }

    // Account name
    #name {
      color: #3c3c3c;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: 600;
      text-align: center;
      letter-spacing: 0.2px;

      display: block;
      width: 100%;
      height: 23px;

      margin-top: 10px;
    }

    // Account role
    #sub-name {
      color: #3c3c3c;

      text-align: center;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 200;
      font-size: 12px;

      display: block;
      width: 100%;
    }
  }
  //
  @media (max-height: 700px) {
    #user-area {
      padding-bottom: 20px;

      #profile-picture {
        margin-top: 20px;

        img {
          width: 50px;
          height: 50px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    #user-area {

      #name {
        display: none;
      }

      #sub-name {
        display: none;
      }
    }
  }


  // Navigation Menu
  #menu {

    .menu-item {
      height: 50px;
      color: #3c3c3c;

      .active-line {
        background: #ffffff;
        height: 50px;
        width: 4px;
        float: left;
      }

      .menu-item-icon {
        height: 16px;
        width: 16px;
        float: left;
        margin-left: 19px;
        margin-top: 15px;

        path {
          fill: #3c3c3c;
        }
      }

      .menu-item-name {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: 200;
        display: block;
        margin-left: 12px;
        float: left;
        position: relative;
        top: 14px;
      }
    }

    .menu-item.active, .menu-item:hover {
      cursor: pointer;

      .active-line {
        background: #e41034;
        height: 50px;
        width: 4px;
        float: left;

        -webkit-transition: all 0.5s ease 0s;
        -moz-transition: all 0.5s ease 0s;
        -ms-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
      }
    }

    .menu-item.active {
      background: #f5f5f5;

      .menu-item-icon {
        path {
          fill: #e41034;
        }
      }

      .menu-item-name {
        font-weight: bold;
        color: #e41034;
      }
    }

    hr {
      margin-top: 10px;
      margin-bottom: 5px;
      margin-left: 20px;
      border-color: #c8c8c8;
    }

    #dashboard-section {
      #menu-dashboard {
        height: 50px;
        color: black;
      }
    }

    #brand-channel-section {
      .section-name {
        font-size: 10px;
        text-transform: uppercase;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #8c8c8c;
        margin-left: 20px;
      }
    }

    #utility-section {

    }
  }



}

@media (max-width: 768px) {

  #sidenav.untoggled {
    left: 60px;
    margin-left: -60px;
    width: 60px;

    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;

    #user-area {
      #profile-picture img {
        height: 50px;
        width: 50px;
      }
    }

    #menu {
      .menu-item.active {
        background: #e41034;

        .menu-item-icon {
          path {
            fill: white !important;
          }
        }
      }

      .menu-item-icon {
        margin-left: 19px;
        margin-top: 15px;
      }

      @media (max-width: 768px) {
        .menu-item-name {
          display: none !important;
        }
      }

      #brand-channel-section {
        .section-name {
          display: none;
        }
      }

      hr {
        margin-left: 0;
      }
    }
  }

}

@media (max-width: 500px) {
  #sidenav.untoggled {
    display: none;

    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  #sidenav-toggle.toggled {
    display: block;
    position: fixed;
    bottom: 30px;
    left: 30px;
    z-index: 100;
  }

}


