/**
Dashboard Content Styles
==============================================
@author ry
@date 1/12/2015
*/
#dashboard-container {
  height: 100%;
  width: 100%;
  background: white;
  color: black;

  /*
  * Dashboard Header
  ---------------------------------------------------------------------------------
  */
  #dashboard-header {
    position: relative;
    text-align: center;

    h1 {
      font-size: 22px;
      padding-top: 15px;
    }
  }

  /*
  * Followers demographics section
  ---------------------------------------------------------------------------------
  */
  #followers-demographics {
    padding: 20px;
  }

  .gender {
    padding-left: calc(25% - 100px);
    padding-right: 25px;
    position: absolute;

    @media (max-width: 550px) {
      padding-left: calc(50% - 100px);
    }
  }

}