<div id="dashboard-container">
    <div id="dashboard-header" class="row">
        <h1>Dashboard</h1>
    </div>

    <!--<div id="dashboard-content">-->
        <!--<div id="followers-insights">-->
            <!--<div id="followers-demographics" class="row">-->
                <!--<followers-gender>  </followers-gender>-->
                <!--<followers-age>     </followers-age>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <div id="dashboard-content" class="row">
        <div class="column one-half gender">
            <piechart data-percent="ctrl.gender.percent" data-labels="ctrl.gender.labels"></piechart>
        </div>

        <div class="column one-half age">
            <slicechart data-slices="ctrl.ages"></slicechart>
        </div>
    </div>

</div>