<div class='sp-container'>
  <div class='sp-sidebar'>
    <div class='nav'>
      <ul>
        <li class='nav-label'>
          Main
        </li>
        <li>
          <a href='#'>
            <i class='fa fa-dashboard'></i>
            Dashboard
          </a>
        </li>
        <li class='sp-dropdown'>
          <a href='#'>
            <i class='fa fa-user'></i>
            Customers
          </a>
          <ul class='sp-dropdown-menu'>
            <li>
              <a href='#'>
                Explorer
              </a>
            </li>
            <li>
              <a href='#'>
                Compare Segments
              </a>
            </li>
            <li class='sp-dropdown-active'>
              <a href='#'>
                All Segments
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a href='#'>
            <i class='fa fa-money'></i>
            Revenue at Risk
          </a>
        </li>
        <li>
          <a href='#'>
            <i class='fa fa-warning'></i>
            Reasons
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class='sp-content'>
    <header class='header'>
      <div class='main-header'>
        <div class='container-fluid'>
          <div class='top-header'>
            <div class='row'>
              <div class='col-md-6'>
                <ol class='breadcrumb'>
                  <li>
                    <a href='#'>Risk Factors</a>
                  </li>
                  <li>
                    <a href='#'>Segments</a>
                  </li>
                  <li class='active'>
                    <a href='#'>New Costumers</a>
                  </li>
                </ol>
              </div>
              <div class='col-md-6'>
                To Do // Tool Bar, Responsive, Modules
              </div>
            </div>
          </div>
          <div class='page-header'>
            <div class='row'>
              <div class='col-md-6'>
                <div class='page-title'>
                  <div class='icon'>
                    <img src='http://placehold.it/65/33b7d8/ffffff&amp;text=SP'>
                  </div>
                  <h1>
                    New Costumers
                    <span>
                      See Variables
                      <i class='fa fa-angle-down'></i>
                    </span>
                  </h1>
                </div>
              </div>
              <div class='col-lg-6'>
                <ul class='nav nav-pills pull-right'>
                  <li class='active' role='presentation'>
                    <a href='#'>
                      <span class='label'>Created</span>
                      July 1, 2014
                    </a>
                  </li>
                  <li role='presentation'>
                    <a href='#'>
                      <span class='label'>by</span>
                      John Smith
                    </a>
                  </li>
                  <li role='presentation'>
                    <a href='#'>
                      <span class='label'>Members</span>
                      29,418
                      <i class='fa fa-long-arrow-right'></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class='main-content'>
      <div class='container-fluid'>
        <div class='row'>
          <div class='col-md-12'>
            <div class='module'>
              <h2 class='module-head'>
                Segment Graph
              </h2>
              <div class='module-content'>
                Module Content
              </div>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-4'>
            <div class='module'>
              <h2 class='module-head'>
                Alert
              </h2>
              <div class='module-content'>
                Module Content
              </div>
            </div>
          </div>
          <div class='col-md-8'>
            <div class='module'>
              <h2 class='module-head'>
                Segment KPIs
                <div class='label'>Graph measured vs. last month</div>
              </h2>
              <div class='module-content'>
                Module Content
              </div>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-12'>
            <div class='module'>
              <h2 class='module-head'>
                Email Customers
              </h2>
              <div class='module-content'>
                Module Content
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
