#dashboard-container {
  height: 100%;

  #demographics {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 20px;

    #gender-container {
      flex-basis: 100%;
    }

    #age-container {
      flex-basis: 100%;
    }

    @media (min-width: 650px) {
      #gender-container, #age-container {
        flex-basis: 50%;
      }
    }
  }
}