<header id="login-header">
  <h1>
    <img ng-src="./assets/guvera-logo.png" alt="Guvera">
    <span>/BRANDS</span>
  </h1>
</header>

<form id="login-form" name="loginForm" ng-submit="ctrl.login(loginForm)">

  <div id="login-form-container" class="row">

    <div class="col-md-6">
      <div class="input-container username-container">
        <!--<label for="Username">Username</label>-->
        <input name="username" ng-model="ctrl.login.username"
               ng-class="{'warning': loginForm.$submitted && loginForm.$invalid}"
               type="text" id="Username" required="required" placeholder="Username"
               onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'" maxlength="100"/>

        <div class="bar"></div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="input-container password-container">
        <!--<label for="Password">Password</label>-->
        <input name="password"
               ng-model="ctrl.login.password" ng-class="{'warning': loginForm.$submitted && loginForm.$invalid}"
               type="password" id="Password" required="required" placeholder="Password"
               onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" maxlength="20"/>

        <div class="bar"></div>
      </div>
    </div>
  </div>

  <div id="login-buttons" class="row text-center">
    <button id="login-button" ng-class="{'active': loginForm.$valid}" type="submit"> Login</button>
  </div>
</form>


<footer id="login-footer">
  <span id="guvera-link"><a href="http://guvera.com">guvera.com</a></span>
  <span id="support-link"><a href="http://guvera.com/">Contact Support</a></span>
</footer>

<!--<div id="login-view" class="bloody-red">-->
<!--<header class="bloody-red">-->
<!--<div class="container-fluid inner">-->
<!--<img ng-src="./assets/guvera-logo.png" alt="Guvera" >-->

<!--<h1>Engagement Informatics</h1>-->

<!--<h3>Login Page</h3>-->
<!--<nav role='navigation' class="text-white">-->
<!--<ul>-->
<!--<li><a ng-href="/home">Home</a></li>-->
<!--<li><a ng-href="/profile">Profile</a></li>-->
<!--</ul>-->
<!--</nav>-->
<!--</div>-->
<!--</header>-->

<!--<div class="container-fluid inner" id="forms">-->

<!--<h3 ng-if="ctrl.error"> {{ctrl.error}} </h3>-->

<!--<form name="loginForm" novalidate="novalidate" ng-submit="ctrl.login(loginForm)">-->
<!--<div class="field-wrapper">-->
<!--<label for="username" class="float-label">Username</label>-->
<!--<span class="username">-->
<!--<input type="text" name="username" ng-model="username" size="40" id="username" placeholder="Username"-->
<!--required>-->
<!--</span>-->
<!--</div>-->
<!--<div class="field-wrapper">-->
<!--<label for="password" class="float-label">Password</label>-->
<!--<span class="password">-->
<!--<input type="password" name="password" ng-model="ctrl.user.password" value="" size="40" id="password"-->
<!--placeholder="Password" required>-->
<!--</span>-->
<!--</div>-->
<!--<div class="field-wrapper">-->
<!--<input type="submit" value="Send">-->
<!--</div>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->

