#login-container {
  height: 100%;
  width: 100%;
  background: url("/assets/landing/engagement.jpg") left;
  background-size: cover;

  * {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  }


  // Login Header
  #login-header {
    padding-top: 15%;
    padding-bottom: 20px;
    text-align: center;
  }

  #login-header > h1 {
    font-size: 30px;

    span {
      color: white;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 100;
    }
  }

  #login-header span {
    position: relative;
    top: -1px;
  }

  // Login form
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input {
      margin: 10px 0;
      color: black;
      background: white;

      outline: none;
      text-align: center;

      width: 260px;
      height: 60px;
      border: none;
      border-bottom: 2px solid black;

      &.warning {
        border-bottom: 3px solid #f0e442;
      }
    }

    button {
      margin-top: 20px;
      background: #ffffff;
      border: 1px solid #e41034;
      border-radius: 3px;
      color: white;
      font-family: Helvetica Neue, Helvetica, Arial, serif;
      font-size: 12px;
      height: 53px;
      text-transform: uppercase;
      width: 185px;

      &:hover, &.active {
        color: black;
        border-color: gray;
      }

      &:active {
        background: #f5f5f5;
      }
    }
  }

  // Login Footer
  #login-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 20px;

    & > #guvera-link {
      float: left;
      text-decoration: underline;
      a {
        color: white;
      }
    }

    & > #support-link {
      float: right;
      text-decoration: underline;

      a {
        color: white;
      }
    }
  }
}
