<div id="login-container">
    <header id="login-header">
        <h1>
            <img ng-src="./assets/guvera-logo.png" alt="Guvera">
            <span>/EI</span>
        </h1>
    </header>

    <form id="login-form" name="loginForm" ng-submit="login(loginForm)">

        <button id="login-button" ng-class="{'active': loginForm.$valid}" type="submit"> Login </button>

    </form>

    <footer id="login-footer">
        <span id="guvera-link"><a href="http://guvera.com">guvera.com</a></span>
        <span id="support-link"><a href="http://guvera.com/">Contact Support</a></span>
    </footer>
</div>

