<div>
  {{ vm.name }}
<button ng-click="vm.initalizeDarkroom()">click me</button>

  <div id="content">
    <div class="container">
      <section class="copy">
        <div class="figure-wrapper">
          <figure id="profile-pic" class="image-container target">
            <img src="./assets/domokun-big.jpg" alt="DomoKun" >
          </figure>
        </div>
      </section>
    </div>
  </div>
</div>
<script src="../../services/photo-edit/photo-edit.js"></script>
<script src="../../libs/fabric/fabric.js"></script>
<script src="../../libs/darkroom/darkroom.js"></script>

<link rel="stylesheet" href="../../libs/darkroom/darkroom.css">
