<header class="charcoal-bg">
  <div class="container-fluid inner">
    <h1>Angular Seed</h1>

    <h3>Profile Page</h3>
    <nav role='navigation' class="text-white">
      <ul>
        <li><a ng-href="/home">Home</a></li>
        <li><a ng-href="/logout">Logout</a></li>
      </ul>
    </nav>
  </div>
</header>


<div class="container-fluid inner" id="darkroom-buttons">
  <div class="btn btn-lg btn-rect" ng-click="vm.initalizeDarkroom()">Click Me</div>
</div>


<div>
  <div id="content">
    <div class="container">
      <section class="copy">
        <div class="figure-wrapper">
          <figure id="profile-pic" class="image-container target">
            <img src="./assets/domokun-big.jpg" alt="DomoKun" >
          </figure>
        </div>
      </section>
    </div>
  </div>
</div>


<script src="../../services/photo-edit/photo-edit.js"></script>
<script src="../../libs/fabric/fabric.js"></script>
<script src="../../libs/darkroom/darkroom.js"></script>

<link rel="stylesheet" href="../../libs/darkroom/darkroom.css">
